    header {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        background-color: #fed100;
    }
  
    .container {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        min-height: 40.625rem;
        width: 82rem;
        position: relative;
    }
  
    .wrapper-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2%;
        margin: 2% 0%;
    }
  
    .logo {
        margin: 0rem;
        font-size: 1.875rem;
        font-weight: 600;
    }
  
    .head-menu {
        display: flex;
        justify-content: space-between;
        width: 40%;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0rem;
    }
  
    li {
        list-style-type: none;
    }
  
    .head-menu a {
        text-decoration: none;
        color: #000;
    }
  
    .b-menu,
    .pict-man-mob {
        display: none;
    }
  
    .phone {
        color: #000;
        font-size: 1.5rem;
        text-decoration: underline;
        font-weight: 600;
        margin: 0rem;
    }
  
    .wrapper-mid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2.5rem 0rem;
    }

    .wrapper-mid-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
  
    .wrapper-mid-title h1 {
        font-size: 4.375rem;
        line-height: 0.95;
        font-weight: 700;
    }
  
    .wrapper-mid-title h3 {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 3;
    }
  
    .wrapper-mid-button {
        background-color: #ff352b;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.15%;
        width: 21%;
        margin: 0% 0% 5%;       
        box-shadow: 0.75rem 0.75rem 0.0625rem -0.125rem #fed100, 0.75rem 0.75rem #fff;
    }
  
    .wrapper-mid-button:hover {
        background-color: #ff772b;
        box-shadow: 0.75rem 0.75rem #fff;
    }
  
    .wrapper-mid-icons {
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        width: 40%;
        margin-top: 4%;
    }
  
    .icon-text {
        width: 25%;
        margin-left: 1rem;
    }
  
    .pict-man {
        width: 23.8125rem;
        z-index: 1;
        position: absolute;
        right: 25%;
        bottom: 0%;
    }
  
    .pict-car {
        align-self: top;
        position: absolute;
        right: -8%;
        top: 26%;
    }
  
    .phone-call {    
        position: absolute;
        right: 2%;
        top: 72%;
    }
  
    .phone-call:hover {
        content: url(/img/phone_hover.png);
    }

    main {
        display: flex;
        flex-direction: column;               
        font-family: "Montserrat", sans-serif;
    }

    .how-it-work {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 60%;
    }

    .how-it-work h2 {
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
        margin-top: 5.9375rem;
    }

    .work-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .work-list-element {
        display: flex;
        width: 40%;
        margin-top: 3.8125rem;
    }

    .work-number {
        display: flex;
        font-size: 3.125rem;
        font-weight: 300;
        margin-right: 2rem;
        text-shadow: 0.125rem 0rem #fed100;
    }

    .work-text {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 400;
    }

    .work-text-mob,
    .mid-text-mob,
    .big-text-mob {
        display: none;
    }

    .work-text h4, .work-text-spec h4 {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.9375rem;
    }
  
    .prices {        
        display: flex;
        flex-direction: column;
        margin-top: 6.5rem;
    }

    .big-text {
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
    }

    .prices h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.9375rem auto;
        text-align: center;
    }

    .offer {
        display: flex;
        justify-content: center;       
        margin-top: 3.75rem;        
    }

    .offer-element {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 0.0625rem solid #FED100;
        margin: 0rem 0.5rem;
    }

    .flat-type {
        margin-top: 5.25rem;
    }

    .offer-element-mob {
        display: none;
    }

    .offer-element pre {
        display: block;
        margin: 0rem 7.25rem;
        align-items: center;
        line-height:3.5;
    }

    .offer-button {
        background-color: #fed100;
        color: #333333;
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.495rem 4.8125rem;
        margin: 5rem auto;
    }

    .offer-button:hover {
        color: #fff;
    }

    .offer-allprices {
        display: none;
    }

    .transport {
        display: flex;
        flex-direction: column;
        width: 44%;
        margin: 6.375rem auto 0rem;     
    }

    .transport h2 {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-top: 0.9375rem;
    }

    .transport-menu {
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        font-weight: 500;
        margin: 4.5625rem auto 0rem;        
    }
    
    .transport-menu a {
        text-decoration: none;
        color: #000;
        margin: 0rem 4.3125rem;
    }

    .transport-element {
        display: flex;
        justify-content: space-between;
    }

    .element-back, .element-forward {
        font-size: 2rem;
        font-weight: 900;
        margin: 10% 2%;
        transform: scale(.5,1);
        text-decoration: none;
        color: #000;
    }

    .transport-description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .transport-element h2 {
        text-align: left;
    }

    .description-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 400;
    }

    .description-list li:before {
        padding-right: 1rem;
        font-weight: 700;
        content: '✓'; 
    }

    .transport-button {
        background-color: #fed100;
        color: #333333;
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.495rem 4.8125rem;
        margin-bottom: 4rem;
    }

    .transport-button:hover {
        color: #fff;
    }

    .transport-picture {
        display: flex;
        right: 0rem;
        bottom: 0rem;
    }

    .transport-picture-mob,
    .main-third-sign,
    .auto-description,
    .main-third-Hmenu {
        display: none;
    }

    .reviews {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        background-color: #fed100;
    }

    .all-reviews {
        display: flex;
        flex-direction: column;       
        align-items: center;
        width: 48%;
    }

    .all-reviews h1 {
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
        margin-top: 6.25rem;        
    }

    .reviews-container {
        display: flex;
        margin-top: 3.75rem;
    }

    .review-element {
        display: flex;
        flex-direction: column;
    }

    .review-name {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .review-info {
        margin: 0.625rem 0rem 1.1875rem;
    }

    .review-star {
        font-size: 1.25rem;
        font-weight: 500;
        color:#ff352b;
    }

    .review-element-mob {
        display: none;
    }

    .read-after {
        margin-top: 1.125rem;
        color: #000;
        text-decoration: underline;
    }

    .review-button {
        display: block;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: none;
        background-color: #fed100;
        color: #000;
        border: solid 0.0625rem;
        padding: 0.625rem 3.888rem;
        margin: 3.8125rem auto 0rem;
    }

  @media (max-width: 320px) {

    .container{
        width: 20rem;
        min-height: 37.5rem;
    }

    .wrapper-top {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 1rem;
    }
  
    .logo {
        font-size: 1rem;
        font-weight: 600;
        line-height: 3;
    }

    .b-menu {
        display: flex;
        position: relative;
        width: 2.75rem;
        height: 1.1875rem;
        margin: 0.5rem;
        border-top: 0.125rem solid #000;
        border-bottom: 0.125rem solid #000;
    }

    .b-menu:before {
        content: "";
        position: absolute;
        top: 0.5625rem;
        width: 100%;
        border-top: 0.125rem solid #000;
    }
  
    .wrapper-mid {
        min-height: 30rem;
        margin: 0%;
    }

    .wrapper-mid-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
  
    .wrapper-mid-title h1 {
        font-size: 1.75rem;
        font-weight: 700;
    }
  
    .wrapper-mid-title h3 {
        height: 4rem;
        font-size: 1.125rem;
        font-weight: 600;
    }
  
    .wrapper-mid-button {
        padding: 1.125rem 6.891rem;
        display: flex;
        justify-content: center;
        margin: 0rem 0.875rem;
        box-shadow: none;
        z-index: 1;
    }

    .wrapper-mid-button:hover {
        background-color: #ff772b;
        box-shadow: none;
    }
  
    .head-menu,
    .phone,
    .wrapper-mid-icons,
    .pict-man,
    .pict-car,
    .phone-call {
        display: none;
    }
  
    .pict-man-mob {
        display: block;
        position: absolute;
        top:55%; left:50%;
        transform:translate(-50%, -50%);
    }

    .how-it-work {
        width: 100%;
    }

    .how-it-work h2 {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        margin: 2.5rem 0rem 3rem 0rem;
    }

    .work-list {
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
    }

    .work-list-element {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 1rem;
    }

    .work-number {
        display: flex;
        justify-content: start;
        font-size: 3.125rem;
        font-weight: 300;
    }

    .work-text,
    .work-text-mob {
        display: block;
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        margin: 0rem 0rem 0rem 6rem;
    }

    .work-text p,
    .work-text-spec,
    .big-text {
        display: none;
    }

    .work-text h4, .work-text-mobh4 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0rem;
    }

    .prices { 
        display: flex;
        flex-direction: column;
        margin: 0rem;
    }

    .mid-text-mob {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 3.125rem auto 0.8rem;
    }

    .big-text-mob {
        display: block;
        font-size: 1.875rem;
        font-weight: 600;
        margin: 2.2rem auto;
    }

    .prices h2 {
       display: none;
    }

    .offer {
        display: flex;
        margin: 0rem;        
    }

    .offer-element {
        display: none;
    }

    .offer-element-mob {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .flat-type-mob {
        display: block;
        font-size: 1.125rem;
        font-weight: 500;
        margin: 0rem auto 1.15rem;
    }

    .offer-element-mob pre {
        display: block;
        text-align: center;
        line-height: 2.3; 
    }

    .offer-button {
        background-color: #fed100;
        color: #333333;
        padding: 1.125rem 6.891rem;
        display: flex;
        justify-content: center;
        margin: 1.1rem 0.875rem;
    }

    .offer-button:hover {
        color: #fff;
    }

    .offer-allprices {
        display: block;
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        margin: 0.3rem auto;
    }

    .transport {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 2.375rem;
    }

    .transport h2 {
        display: none;
    }

    .transport-menu {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 1rem;
        font-weight: 500;
        margin: 1.25rem auto 2.5rem;
    }

    .transport-menu a {
        text-decoration: none;
        color: #000;
        margin: 0rem 0.4rem;
    }

    .transport-element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .element-back,
    .element-forward,
    .transport-picture,
    .description-list,
    .auto-type{
        display: none;
    }

    .transport-element h2 {
        text-align: left;
    }

    .transport-picture-mob {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }

    .auto-description {
        display: block;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: center;
        margin: 15rem 5rem 1rem;
    }

    .transport-choise {
        display: flex;
        margin: 0rem auto 0rem;
    }

    .choiser-element {
        background-color: #000;
        padding: 0.25rem;
        height: 0rem;
        display: inline-block;
        margin: 0.5rem;
        border-radius: 45%;
    }

    .choiser-element:hover {
        padding: 0.3125rem;
        box-shadow: 0 0 0 0.1875rem #fff, 0 0 0 0.3125rem #fed100;
        
    }

    .transport-description {
        display: block;
    }

    .transport-button {
        background-color: #fed100;
        color: #333333;
        padding: 1.125rem 6.891rem;
        display: flex;
        justify-content: center;
        margin: 0rem 0.875rem 2.8125rem;
    }

    .transport-button:hover {
        color: #fff;
    }
    
    .all-reviews {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .review-element {
        display: none;
    }

    .reviews-container {
        margin: 2.5rem auto 3rem;
    }

    .review-element-mob {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .review-name-mob {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .review-element-mob nobr {
        margin: 0.625rem 0rem 2.3125rem;
    }

    .review-star {
        font-size: 1.25rem;
        font-weight: 500;
        color:#ff352b;
    }

    .read-after {
        margin-top: 1.125rem;
        color: #000;
        /*text-decoration: underline;*/
    }

    .review-button {
        display: block;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: none;
        background-color: #fed100;
        color: #000;
        border: solid .0625rem;
        padding: 0.625rem 3.888rem;
        margin: 0rem auto 3.125rem;
    }

    .review-info{
        white-space: nowrap;
    }
}
  