    header {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        background-color: #fed100;
    }
  
    .container {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        min-height: 40.625rem;
        width: 82rem;
        position: relative;
    }
  
    .wrapper-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2%;
        margin: 2% 0%;
    }
  
    .logo {
        margin: 0rem;
        font-size: 1.875rem;
        font-weight: 600;
    }
  
    .head-menu {
        display: flex;
        justify-content: space-between;
        width: 40%;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0rem;
    }
  
    li {
        list-style-type: none;
    }
  
    .head-menu a {
        text-decoration: none;
        color: #000;
    }
  
    .b-menu,
    .pict-man-mob {
        display: none;
    }
  
    .phone {
        color: #000;
        font-size: 1.5rem;
        text-decoration: underline;
        font-weight: 600;
        margin: 0rem;
    }
  
    .wrapper-mid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2.5rem 0rem;
    }

    .wrapper-mid-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
  
    .wrapper-mid-title h1 {
        font-size: 4.375rem;
        line-height: 0.95;
        font-weight: 700;
    }
  
    .wrapper-mid-title h3 {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 3;
    }
  
    .wrapper-mid-button {
        background-color: #ff352b;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.15%;
        width: 21%;
        margin: 0% 0% 5%;       
        box-shadow: 0.75rem 0.75rem 0.0625rem -0.125rem #fed100, 0.75rem 0.75rem #fff;
    }
  
    .wrapper-mid-button:hover {
        background-color: #ff772b;
        box-shadow: 0.75rem 0.75rem #fff;
    }
  
    .wrapper-mid-icons {
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        width: 40%;
        margin-top: 4%;
    }
  
    .icon-text {
        width: 25%;
        margin-left: 1rem;
    }
  
    .pict-man {
        width: 23.8125rem;
        z-index: 1;
        position: absolute;
        right: 25%;
        bottom: 0%;
    }
  
    .pict-car {
        align-self: top;
        position: absolute;
        right: -8%;
        top: 26%;
    }
  
    .phone-call {    
        position: absolute;
        right: 2%;
        top: 72%;
    }
  
    .phone-call:hover {
        content: url(/img/phone_hover.png);
    }

    main{
        display: flex;
        flex-direction: column;               
        font-family: "Montserrat", sans-serif;
    }

    .main-first{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 60%;
    }

    .main-first h2{
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
        margin-top: 5.9375rem;
    }

    .main-first-block{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .main-first-element{
        display: flex;
        width: 40%;
        margin-top: 3.8125rem;
    }

    .main-first-number{
        display: flex;
        font-size: 3.125rem;
        font-weight: 300;
        margin-right: 2rem;
    }

    .tab-text{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 400;
    }

    .tab-text-mob,
    .mid-text-mob,
    .big-text-mob{
        display: none;
    }

    .tab-text h4, .tab-text-spec h4{
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.9375rem;
    }
  
    .main-second{        
        display: flex;
        flex-direction: column;
        margin-top: 6.5rem;
    }

    .big-text{
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
    }

    .main-second h2{
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.9375rem auto;
        text-align: center;
    }

    .main-second-block{
        display: flex;
        justify-content: center;       
        margin-top: 3.75rem;        
    }

    .main-second-element{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 0.0625rem solid #FED100;
        margin: 0rem 0.5rem;
    }

    .main-second-element h2{
        margin-top: 5.25rem;
    }

    .main-second-element-mob{
        display: none;
    }

    .main-second-element pre{
        display: block;
        margin: 0rem 7.25rem;
        align-items: center;
        line-height:3.5;
    }

    .main-second-button{
        background-color: #fed100;
        color: #333333;
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.495rem 4.8125rem;
        margin: 5rem auto;
    }

    .main-second-button:hover{
        color: #fff;
    }

    .main-second-allprices{
        display: none;
    }

    .main-third{
        display: flex;
        flex-direction: column;
        margin: 6.375rem auto 0rem;     
    }

    .main-third h2{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        margin-top: 0.9375rem;
    }

    .main-third-menu{
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        font-weight: 500;
        margin: 4.5625rem auto 0rem;        
    }
    
    .main-third-menu a {
        text-decoration: none;
        color: #000;
    }

    .main-third-block{
        display: flex;
        justify-content: space-between;
    }

    .main-third-back, .main-third-forward{
        font-size: 2rem;
        font-weight: 900;
        margin: 10% 2%;
        transform: scale(.5,1);
        text-decoration: none;
        color: #000;
    }

    .main-third-order{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-third-block h2{
        text-align: left;
    }

    .main-third-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 400;
    }

    .main-third-list li:before {
        padding-right: 1rem;
        font-weight: 700;
        content: '✓'; 
    }

    .main-third-button{
        background-color: #fed100;
        color: #333333;
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.495rem 4.8125rem;
        margin-bottom: 4rem;
    }

    .main-third-button:hover{
        color: #fff;
    }

    .main-third-picture{
        display: flex;
        right: 0rem;
        bottom: 0rem;
    }

    .main-third-picture-mob,
    .main-third-sign,
    .main-third-sign-mob,
    .main-third-Hmenu{
        display: none;
    }

    .main-fourth{
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        background-color: #fed100;
    }

    .main-fourth-container{
        display: flex;
        flex-direction: column;       
        align-items: center;
        width: 60%;
    }

    .main-fourth-container h1{
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
        margin-top: 6.25rem;        
    }

    .main-fourth-rewiev{
        display: flex;
        margin-top: 3.75rem;
    }

    .main-fourth-rewiev-element{
        display: flex;
        flex-direction: column;
    }

    .main-fourth-rewiev-element h2{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .main-fourth-rewiev-element nobr{
        margin: 0.625rem 0rem 1.1875rem;
    }

    .rewiev-star{
        font-size: 1.25rem;
        font-weight: 500;
        color:#ff352b;
    }

    .main-fourth-rewiev-element-mob{
        display: none;
    }

    .read-after{
        margin-top: 1.125rem;
        color: #000;
    }

    .main-fourth-button{
        display: block;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: none;
        background-color: #fed100;
        color: #000;
        border: solid 0.0625rem;
        padding: 0.625rem 3.888rem;
        margin: 3.8125rem auto 0rem;
    }

  @media (max-width: 320px) {

    .container{
        width: 20rem;
        min-height: 37.5rem;
    }

    .wrapper-top {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 1rem;
    }
  
    .logo {
        font-size: 1rem;
        font-weight: 600;
        line-height: 3;
    }

    .b-menu {
        display: flex;
        position: relative;
        width: 2.75rem;
        height: 1.1875rem;
        margin: 0.5rem;
        border-top: 0.125rem solid #000;
        border-bottom: 0.125rem solid #000;
    }

    .b-menu:before {
        content: "";
        position: absolute;
        top: 0.5625rem;
        width: 100%;
        border-top: 0.125rem solid #000;
    }
  
    .wrapper-mid {
        min-height: 30rem;
        margin: 0%;
    }

    .wrapper-mid-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
  
    .wrapper-mid-title h1 {
        font-size: 1.75rem;
        font-weight: 700;
    }
  
    .wrapper-mid-title h3 {
        height: 4rem;
        font-size: 1.125rem;
        font-weight: 600;
    }
  
    .wrapper-mid-button {
        padding: 1.125rem 6.891rem;
        display: flex;
        justify-content: center;
        margin: 0rem 0.875rem;
        box-shadow: none;
        z-index: 1;
    }

    .wrapper-mid-button:hover {
        background-color: #ff772b;
        box-shadow: none;
    }
  
    .head-menu,
    .phone,
    .wrapper-mid-icons,
    .pict-man,
    .pict-car,
    .phone-call {
        display: none;
    }
  
    .pict-man-mob {
        display: block;
        position: absolute;
        top:55%; left:50%;
        transform:translate(-50%, -50%);
    }

    .main-first{
        width: 100%;
    }

    .main-first h2{
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        margin: 2.5rem 0rem 3rem 0rem;
    }

    .main-first-block{
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
    }

    .main-first-element{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 1rem;
    }

    .main-first-number{
        display: flex;
        justify-content: start;
        font-size: 3.125rem;
        font-weight: 300;
    }

    .tab-text,
    .tab-text-mob{
        display: block;
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        margin: 0rem 0rem 0rem 6rem;
    }

    .tab-text p,
    .tab-text-spec,
    .big-text{
        display: none;
    }

    .tab-text h4, .tab-text-mob h4{
        font-size: 1rem;
        font-weight: 400;
        margin: 0rem;
    }

    .main-second{ 
        display: flex;
        flex-direction: column;
        margin: 0rem;
    }

    .mid-text-mob{
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 3.125rem auto 0.8rem;
    }

    .big-text-mob{
        display: block;
        font-size: 1.875rem;
        font-weight: 600;
        margin: 2.2rem auto;
    }

    .main-second h2{
       display: none;
    }

    .main-second-block{
        display: flex;
        margin: 0rem;        
    }

    .main-second-element{
        display: none;
    }

    .main-second-element-mob{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main-second-element-mob h2{
        display: block;
        font-size: 1.125rem;
        font-weight: 500;
        margin: 0rem auto 1.15rem;
    }

    .main-second-element-mob pre{
        display: block;
        text-align: center;
        line-height: 2.3; 
    }

    .main-second-button{
        background-color: #fed100;
        color: #333333;
        padding: 1.125rem 6.891rem;
        display: flex;
        justify-content: center;
        margin: 1.1rem 0.875rem;
    }

    .main-second-button:hover{
        color: #fff;
    }

    .main-second-allprices{
        display: block;
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        margin: 0.3rem auto;
    }

    .main-third{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 2.375rem;
    }

    .main-third h2{
        display: none;
    }

    .main-third-menu{
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 1rem;
        font-weight: 500;
        margin: 1.25rem auto 2.5rem;
    }

    .main-third-menu a{
        text-decoration: none;
        color: #000;
    }

    .main-third-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-third-back,
    .main-third-forward,
    .main-third-picture,
    .main-third-list{
        display: none;
    }

    .main-third-block h2{
        text-align: left;
    }

    .main-third-picture-mob{
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }

    .main-third-sign-mob{
        display: block;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: center;
        margin: 15rem 5rem 1rem;
    }

    .main-third-hmenu{
        display: flex;
        margin: 0rem auto 0rem;
        
    }

    .main-third-hmenu-element{
        background-color: #000;
        padding: 0.25rem;
        height: 0rem;
        display: inline-block;
        margin: 0.5rem;
        border-radius: 45%;
    }

    .main-third-hmenu-element:hover{
        padding: 0.3125rem;
        box-shadow: 0 0 0 0.1875rem #fff, 0 0 0 0.3125rem #fed100;
        
    }

    .main-third-order{
        display: block;
    }

    .main-third-button{
        background-color: #fed100;
        color: #333333;
        padding: 1.125rem 6.891rem;
        display: flex;
        justify-content: center;
        margin: 0rem 0.875rem 2.8125rem;
    }

    .main-third-button:hover{
        color: #fff;
    }
    
    .main-fourth-container{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .main-fourth-rewiev-element{
        display: none;
    }

    .main-fourth-rewiev{
        margin: 2.5rem auto 3rem;
    }

    .main-fourth-rewiev-element-mob{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .main-fourth-rewiev-element-mob h2{
        font-size: 1.125rem;
        font-weight: 500;
    }

    .main-fourth-rewiev-element-mob nobr{
        margin: 0.625rem 0rem 2.3125rem;
    }

    .rewiev-star{
        font-size: 1.25rem;
        font-weight: 500;
        color:#ff352b;
    }

    .read-after{
        margin-top: 1.125rem;
        color: #000;
    }

    .main-fourth-button{
        display: block;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: none;
        background-color: #fed100;
        color: #000;
        border: solid .0625rem;
        padding: 0.625rem 3.888rem;
        margin: 0rem auto 3.125rem;
    }
}
  